* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    /* Adjusted for the sidebar width */
}

/* ... Other styles remain the same ... */

.title-and-image-container {
    position: relative; /* Container for the title and image */
    padding-left: 100px; /* Align with the sidebar */
    padding-top: 50px; /* Add some space at the top */
    max-width: 600px; /* Adjust the max width as necessary */
  }
  
  .title-and-image-container h1 {
    font-size: 2em; /* Adjust font size as needed */
    color: white; /* Title color */
    margin-bottom: 20px; /* Space between the title and the image */
  }
  
  
  .title-and-image-container img {
    display: block; /* Display the image as block to apply margins */
    margin-top: 20px; /* Space between the title and the image */
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
  }
  

nav {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 100px);
    /* Full width minus sidebar */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: transparent;
    /* No background for the nav */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
}

nav a:hover {
    color: limegreen;
}

section {
    display: flex;
    align-items: center; /* This will vertically center the content of the section */
    justify-content: flex-start; /* This will align the content to the left */
    padding-top: 0; /* Remove top padding if not needed */
    min-height: 100vh; /* Full height of the viewport */
    font-size: 2em;
}

.button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background: transparent;
    /* No background for the button */
    text-decoration: none;
    font-size: 1.2em;
}

.button a:hover {
    color: limegreen;
}